/* styles.css */

/* Reset some default styles */
body, h2, form, div, label, input, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #001f3f;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Top bar styling */
.top-bar {
    width: 100%;
    background-color: #001f3f;
    padding: 15px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    background-color: #001f3f;
    color: white;
    padding: 20px;
    position: fixed;
    top: 60px; /* Adjust based on top bar height */
    bottom: 0;
    overflow-y: auto;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}

.sidebar a:hover {
    background-color: #0056b3;
    padding-left: 10px;
    transition: 0.3s;
}

.sidebar-toggle {
    position: fixed;
    top:auto;
    right: 710px;
    color: white;
    cursor: pointer;
    z-index: 1001; /* Ensure toggle button is above sidebar */
}

/* Main content styling */
.main-content {
    margin-left: 220px; /* Adjust based on sidebar width */
    margin-top: 80px; /* Adjust based on top bar height */
    padding: 20px;
    flex-grow: 1;
}

/* Form container */
form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

/* Form heading */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
    text-align: center;
}

/* Form group */
div {
    margin-bottom: 15px;
}

/* Form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Form inputs */
input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Button styling */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Additional styling for input focus */
input:focus {
    border-color: #5cb85c;
    outline: none;
    box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}

.kembali{
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 9px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    float:left;
    margin-top: 10px;
    margin-left: 22%;
}